@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
::-moz-selection {
  background-color: #18d8ff;
  color: #202020;
}
::selection {
  background-color: #18d8ff;
  color: #202020;
}

a {
  color: #bf98ff;
  text-decoration: none;
  cursor: pointer;
  transition: color 100ms linear;
}
a:hover {
  color: #18d8ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Comfortaa", sans-serif;
  word-wrap: break-word;
  text-align: center;
  line-height: 1.2;
}

p,
button,
a,
li,
ul,
ol,
span {
  font-weight: 400;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  line-height: 1.6;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

p,
button,
a,
li,
ul,
ol,
span {
  font-size: 1rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
  p,
button,
a,
li,
ul,
ol,
span {
    font-size: 1.25rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.25rem;
  }
  p,
button,
a,
li,
ul,
ol,
span {
    font-size: 1.5rem;
  }
}
:focus-visible {
  outline: 0.2rem solid #18d8ff;
  outline-offset: 0.2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li,
ul,
ol {
  list-style: none;
}

body {
  background-color: #202020;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #202020;
  color: #ffffff;
  min-height: 100vh;
}

section {
  padding: 2rem 2rem 1rem 2rem;
  height: 100%;
}

button,
a {
  cursor: pointer;
}

.burger {
  z-index: 999;
  position: fixed;
  top: 20px;
  right: 20px;
}
.burger .menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.burger .opened .line {
  stroke: #ffffff;
}
.burger .line {
  fill: none;
  stroke: #18d8ff;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.burger .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.burger .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.burger .opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.burger .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.burger .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.nav-links {
  z-index: 998;
  padding: 0;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #bf98ff;
  top: -100vh;
  transition: top 0.5s ease, opacity 1s ease;
  opacity: 0;
}
.nav-links.open {
  top: 0;
  opacity: 1;
  transition: top 0.5s ease, opacity 0s ease;
}
.nav-links .nav-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-align: center;
  transition: color 100ms linear;
  font-size: 2rem;
}
.nav-links .nav-link.active::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #18d8ff;
  transition: all 0.3s ease;
}
.nav-links .nav-link button {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-align: center;
  transition: color 100ms linear;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: #fff;
}
.nav-links .nav-link button:hover {
  color: #18d8ff;
}
.nav-links .nav-link:hover {
  color: #18d8ff;
}

.cards {
  padding: 5rem 0 5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  max-width: 916px;
  width: calc(100% - 20px);
}

.card {
  transform-style: preserve-3d;
  transition: transform 200ms;
  --card-color: #4747472f;
  background-color: var(--card-color);
  border-radius: 10px;
  cursor: pointer;
  height: 260px;
  width: 290px;
  position: relative;
  transform: rotateY(0deg) rotateX(0deg) translateZ(0px) scale(1);
}
.card::after {
  background: radial-gradient(600px circle at var(--card-mouse-x) var(--card-mouse-y), rgba(255, 255, 255, 0.4), transparent 40%);
  z-index: 1;
}
.card::before {
  background: radial-gradient(800px circle at var(--card-mouse-x) var(--card-mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms;
  z-index: 3;
}
.card:hover {
  transform: perspective(1000px) rotateY(var(--card-rotate-y)) rotateX(var(--card-rotate-x)) scale(1.1);
}
.card:hover::before {
  opacity: 1;
}
.card .card-border {
  background: radial-gradient(400px circle at var(--card-mouse-x) var(--card-mouse-y), rgba(255, 255, 255, 0.3), transparent 40%);
  z-index: 1;
}
.card .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  margin: 1px;
  position: absolute;
  z-index: 2;
  padding: 1rem;
}
.card .card-content h2,
.card .card-content p {
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  color: #f3f300;
}
.card:active {
  transform: scale(1);
}

@media (max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: auto;
  }
  #cards {
    max-width: 1000px;
    padding: 10px 0px;
  }
  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}
@media (max-width: 500px) {
  .card {
    height: 180px;
  }
  .card-image {
    height: 80px;
  }
  .card-image > i {
    font-size: 3em;
  }
  .card-info-wrapper {
    padding: 0px 10px;
  }
  .card-info > i {
    font-size: 0.8em;
  }
  .card-info-title > h3 {
    font-size: 0.9em;
  }
  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}
@media (max-width: 320px) {
  .card {
    width: 100%;
  }
}
.heading {
  background-color: #bf98ff;
}/*# sourceMappingURL=style.css.map */