$primary: #ffdd67;
$secondary: #ff5a79;
$tertiary: #00b4d8;
$quaternary: #eb5757;
$quinary: #2f80ed;
$senary: #9b51e0;
$septenary: #f2994a;
$octonary: #27ae60;

$background: #202020;
$background-light: #2b2b2b;

$foreground: #ffffff;

$text: #ffffff;
