@use 'colors';

::selection {
  background-color: colors.$secondary;
  color: colors.$background;
}

a {
  color: colors.$primary;
  text-decoration: none;
  cursor: pointer;

  transition: color 100ms linear;

  &:hover {
    color: colors.$secondary;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Comfortaa', sans-serif;
  word-wrap: break-word;
  text-align: center;
  line-height: 1.2;
}

p,
button,
a,
li,
ul,
ol {
  font-weight: 400;
  font-family: 'Karla', sans-serif;

  text-decoration: none;
  line-height: 1.6;
}

// Mobile

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

p,
button,
a,
li,
ul,
ol {
  font-size: 1rem;
}

// Tablet

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  p,
  button,
  a,
  li,
  ul,
  ol {
    font-size: 1.25rem;
  }
}

// Desktop

@media (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.25rem;
  }

  p,
  button,
  a,
  li,
  ul,
  ol {
    font-size: 1.5rem;
  }
}
