$primary: #f9b3ff;
$secondary: #18d8ff;
$tertiary: #00b4d8;
$quaternary: #eb5757;
$quinary: #2f80ed;
$senary: #9b51e0;
$septenary: #f2994a;
$octonary: #27ae60;

$background: #202020;
$background-alt: #f9b3ff;

$text: #ffffff;
$text-alt: #f9b3ff;
