@use '../abstracts/colors';

.nav-links {
  z-index: 998;
  padding: 0;
  position: fixed;
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: colors.$background;

  top: -100vh;
  transition:
    top 0.5s ease,
    opacity 1s ease;

  opacity: 0;

  &.open {
    top: 0;
    opacity: 1;
    transition:
      top 0.5s ease,
      opacity 0s ease;
  }

  .nav-link {
    color: colors.$text-alt;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-align: center;
    transition: color 100ms;
    font-size: 2rem;

    button {
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      text-align: center;
      transition: color 100ms;
      font-size: 2rem;
      background-color: transparent;
      border: none;
      color: colors.$text-alt;
      &:hover {
        color: colors.$secondary;
      }
    }

    &:hover {
      color: colors.$secondary;
    }
  }
}
