@use '../abstracts/colors';

.nav-links {
  z-index: 998;
  padding: 0;
  position: fixed;
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: colors.$primary;
  top: -100vh;
  transition: top 0.5s ease;

  &.open {
    top: 0;
  }

  .nav-link {
    &.active {
      &::after {
        content: '';
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: colors.$secondary;
        transition: all 0.3s ease;
      }
    }

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-align: center;
    transition: color 100ms linear;
    font-size: 2rem;

    button {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.5rem;
      text-align: center;
      transition: color 100ms linear;
      font-size: 2rem;
      background-color: transparent;
      border: none;
      color: #fff;
      &:hover {
        color: colors.$secondary;
      }
    }

    &:hover {
      color: colors.$secondary;
    }
  }
}
