@import 'https://fonts.googleapis.com/css2?family=Passion+One&display=swap';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #202020;
}

header {
  background-color: #ffdd67;
  padding: 4.5em 2em;
  text-align: center;
}
header img {
  width: 100%;
  max-width: 500px;
}

main {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  padding: 1em;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}

.emoji-card {
  background-color: #303030;
  border-radius: 0.5em;
  overflow-wrap: break-word;
  text-align: center;
  transition: all 0.2s ease-in-out;
  margin: 1em;
  width: 100%;
  height: 100%;
}
.emoji-card .emoji-card-header {
  border-radius: 0.5em 0.5em 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}
.emoji-card .emoji-card-header .emoji {
  background: none;
  border: none;
  font-size: 5rem;
  transition: all 250ms;
}
.emoji-card .emoji-card-header .emoji:hover, .emoji-card .emoji-card-header .emoji:focus {
  filter: drop-shadow(0 0 0.25rem #000000);
}
.emoji-card .emoji-card-header .emoji:active {
  filter: none;
}
.emoji-card .emoji-card-body {
  color: #fff;
  width: 100%;
  height: 50%;
  padding: 1em;
}
.emoji-card .emoji-card-body h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.emoji-card .emoji-card-body p {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  margin: 1em 1em;
  transition: all 250ms;
  border-radius: 0.5em;
}
.search-bar input {
  width: 100%;
  border-radius: 0.25em;
  font-size: 1.5rem;
  background-color: #303030;
  padding: 1em;
  background: none;
  border: none;
  color: #fff;
}
.search-bar input::-moz-selection {
  background-color: #ffdd67;
  color: #000;
}
.search-bar input::selection {
  background-color: #ffdd67;
  color: #000;
}
.search-bar input:focus {
  outline: none;
}

kbd {
  display: none;
}

@media (min-width: 768px) {
  kbd {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    background-color: #ffdd67;
    border-radius: 0.5em;
    border: none;
    font-size: 1.5rem;
    margin: 0.5em;
  }
}
.toast-bar {
  position: fixed;
  left: 0;
  top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  max-width: 300px;
}
@media (max-width: 768px) {
  .toast-bar {
    min-width: 100vw;
  }
  .toast-bar .toast {
    width: 90vw;
    left: 0;
    right: 0;
  }
}
.toast-bar .toast {
  position: relative;
  background-color: #303030;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0 0.5em;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}
.toast-bar .toast button {
  border: none;
  background: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
  font-size: 1.5rem;
}
.toast-bar .toast button:hover, .toast-bar .toast button:focus {
  color: #ffdd67;
}
.toast-bar .toast p {
  margin: 0.5em 0;
  font-size: 1rem;
}
.toast-bar .success {
  background-color: #00a424;
  color: rgb(0, 0, 0);
}

@-webkit-keyframes toast {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes toast {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */